<nav>
  <ul class="navbar">
    <li class="navbar-item">
      <a routerLink="/meetups" routerLinkActive="active-link">All meetups</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/my-meetups" routerLinkActive="active-link">My meetups</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/users" routerLinkActive="active-link">Users</a>
    </li>
  </ul>
  <img
    src="../../../assets/exit.svg"
    alt=""
    srcset=""
    (click)="logoutHandler()"
    *ngIf="token"
  />
</nav>
