<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ meetup.name }}</mat-card-title>
    <mat-card-subtitle
      ><strong>Описание:</strong> {{ meetup.description }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content *ngIf="showMore">
    <p><strong>Целевая аудитория:</strong> {{ meetup.target_audience }}</p>
    <p><strong>Что нужно знать:</strong> {{ meetup.need_to_know }}</p>
    <p><strong>Что будет показано:</strong> {{ meetup.will_happen }}</p>
    <p><strong>Причина прийти:</strong> {{ meetup.reason_to_come }}</p>
    <p><strong>Дата:</strong> {{ meetup.time | date : "dd.MM.yyyy hh:mm" }}</p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <mat-card-subtitle>
      {{ meetup.owner.fio }}
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button *ngIf="!ownerFlag">Sign up</button>
      <button mat-button *ngIf="ownerFlag">Edit</button>
      <button mat-button (click)="showMoreHandler()">
        {{ showMore ? "Close" : "Show More" }}
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
