<div class="meetup-item">
  <div class="meetup-item-header">
    <h3>Название</h3>
    <span>Количество участников</span>
    <strong>Дата</strong>
    <span>Место</span>
  </div>
  <div class="short-description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vitae
    perspiciatis tempore consequuntur ipsum facilis quae, quam ipsa sint ipsam
    reprehenderit maiores officia fugit totam officiis porro quos unde quas?
  </div>
  <div class="footer">
    <span class="speeker"></span>
    <div class="buttons">
      <a class="edit-button">Редактировать</a>
      <a class="showmore-button">V</a>
    </div>
  </div>
</div>
