<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ meetup.name }}</mat-card-title>
    <mat-card-subtitle
      ><strong>Описание:</strong> {{ meetup.description }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content *ngIf="showMore">
    <p>Целевая аудитория: {{ meetup.target_audience }}</p>
    <p>Что нужно знать: {{ meetup.need_to_know }}</p>
    <p>Что будет показано: {{ meetup.will_happen }}</p>
    <p>Причина прийти: {{ meetup.reason_to_come }}</p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <mat-card-subtitle>
      {{ meetup.owner.fio }}
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button>Sign up</button>
      <button mat-button (click)="showMoreHandler()">Show more</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
